@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins&family=Roboto:wght@300&family=Ubuntu&display=swap');

body{
    background-color: #af4444;
    margin: 0px;
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    height: 55px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  .nav > .nav-header {
    display: inline;
  }
  .nav > .nav-header > .nav-title {
    margin-top: -47px;
    margin-left: 40px;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  .nav-img>img{
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-left: 5px;
  }  
.nav > .nav-btn {
    display: none;
  }
  .nav > .nav-links {
    float: right;
    margin-top: -35px;
    font-size: 18px;
  }
  .nav > .nav-links > a {
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    color: #efefef;
  }
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > #nav-check {
    display: none;
  }
.penk{
    margin-left: 290px;
    margin-top: 20px;
  }
  .s1{
    margin: auto;
    /*margin-left: 420px;*/
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 400px;
    height: 190px;
    padding: 5px 5px 10px 10px;
    position: relative;
    background: radial-gradient(
      140% 140% at 0% 0%,
      rgba(255,255,255,0.4)0%,
      rgba(255,255,255,0)100%
    );
    border-top: 1px solid #eceded70;
    border-left: 1px solid #eceded70;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
  }
  .s2{
    margin-left: 70px;
    margin-top: 30px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    height: 170px;
    padding: 5px 5px 10px 10px;
    position: relative;
    background: radial-gradient(
      140% 140% at 0% 0%,
      rgba(255,255,255,0.4)0%,
      rgba(255,255,255,0)100%
    );
    border-top: 1px solid #eceded70;
    border-left: 1px solid #eceded70;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
  }
  .s3{
    margin-left: 520px;
    margin-top: -185px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    height: 170px;
    padding: 5px 5px 10px 10px;
    position: relative;
    background: radial-gradient(
      140% 140% at 0% 0%,
      rgba(255,255,255,0.4)0%,
      rgba(255,255,255,0)100%
    );
    border-top: 1px solid #eceded70;
    border-left: 1px solid #eceded70;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
  }
  .s4{
    margin-left: 960px;
    margin-top: -185px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 330px;
    height: 170px;
    padding: 5px 5px 10px 10px;
    position: relative;
    background: radial-gradient(
      140% 140% at 0% 0%,
      rgba(255,255,255,0.4)0%,
      rgba(255,255,255,0)100%
    );
    border-top: 1px solid #eceded70;
    border-left: 1px solid #eceded70;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
  }
  .s5{
    margin-left: 280px;
    margin-top: 30px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 340px;
    height: 170px;
    padding: 5px 5px 10px 10px;
    position: relative;
    background: radial-gradient(
      140% 140% at 0% 0%,
      rgba(255,255,255,0.4)0%,
      rgba(255,255,255,0)100%
    );
    border-top: 1px solid #eceded70;
    border-left: 1px solid #eceded70;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
  }
  .s6{
    margin-left: 740px;
    margin-top: -185px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 320px;
    height: 170px;
    padding: 5px 5px 10px 10px;
    position: relative;
    background: radial-gradient(
      140% 140% at 0% 0%,
      rgba(255,255,255,0.4)0%,
      rgba(255,255,255,0)100%
    );
    border-top: 1px solid #eceded70;
    border-left: 1px solid #eceded70;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
  }
  .s7{
    margin-left: 500px;
    margin-top: 30px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 360px;
    height: 170px;
    padding: 5px 5px 10px 10px;
    position: relative;
    background: radial-gradient(
      140% 140% at 0% 0%,
      rgba(255,255,255,0.4)0%,
      rgba(255,255,255,0)100%
    );
    border-top: 1px solid #eceded70;
    border-left: 1px solid #eceded70;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
  }
  .btn-1{
    text-decoration: none;
    margin-left: 550px;
    padding: 20px 120px;
    font-size: 1.25rem;
    background:#000;
    color:#fff;
    border-radius: 30px;
}
.btn-1:hover{
    background-color: white;
    color: #000;
  }

  .footer{
    /*background-color: #343f3f70;*/
    background-color: black;
    width: 100%;
    height: 70px;
  }
  .footer h2{
    color: white;
    font-size: medium;    
    text-align: right;
  }
  .site-footer
  {
    margin-top: 30px;
    background-color:#26272b;
    text-align: center;
    padding: 20px 0 15px;
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height:10px;
    color:#737373;
  }
  .site-footer a
  {
    color: #3366cc;
    text-decoration: none;
    text-align: center;
    /*color:#737373;*/
  }
  .site-footer a:hover
  {
    color:#7995cc;
    text-decoration:none;
  }
  .site-footer .social-icons
  {
    text-align:center;
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:10px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin: 5px;
  }
  .instagram:hover{
    background-color: rgb(187, 48, 152);
  }
  .tiktok:hover{
    color: #00aced;
  }
  .youtube:hover{
    color: red;
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:50px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.youtube:hover
  {
    background-color:#ff0000
  }
  .social-icons a.tiktok:hover
  {
    background-color:#00a2ff;
  }
  .social-icons a.envelope:hover
  {
    background-color:#ffffff;
    color: red;
  }
  .social-icons a.instagram:hover
  {
    background-color:#f16198
  }
  @media (max-width: 1024px) {
    .penk{
      margin-left: 135px;
      margin-top: 20px;
    }
    .s1{
      margin-left: 285px;
    }
    .s2{
      width: 350px;
      height: 170px;
    }
    .s3{
      margin-left: 540px;
      width: 380px;
    }
    .s4{
      width: 350px;
      margin-top: 20px;
      margin-left: 70px;
    }
    .s5{
      margin-left: 540px;
      margin-top: -185px;
      width: 380px;
    }
    .s6{
    width: 350px;
    margin-top: 20px;
    margin-left: 70px;
    }
    .s7{
      margin-left: 540px;
      width: 380px;
      margin-top: -185px;
    }
    .btn-1{
      margin-left: 350px;
    }
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .social-icons li.title{
    display:block;
    margin-right:0;
    font-weight:600
    }
    .site-footer{
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  @media (max-width:688px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: -25px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 30px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 90px;
      left: 0px;
      z-index: 1;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .penk{
      font-size: 25px;
      margin-left: 52.5px;
    }
    .s1{
      margin-left: 135px;
    }
    .s2{
      margin-left: 145px;
      width: 380px;
    }
    .s3{
      margin-top: 30px;
      margin-left: 145px;
    }
    .s4{
      margin-left: 145px;
      width: 380px;
      height: 130px;
    }
    .s5{
      margin-top: 30px;
      height: 170px;
      margin-left: 145px;
    }
    .s6{
      margin-left: 145px;
      width: 380px;
      height: 170px;
    }
    .s7{
      margin-top: 30px;
      margin-left: 145px;
      height: 170px;
    }
    .btn-1{
      margin-left: 195px;
    }
    .site-footer{
      padding: 20px 0 20px;
    }
  }
  @media screen and (max-width:428px){
    .nav-header>.nav-title{
      display: none;
    }
    .penk{
      font-size: 32px;
      margin-left: 12px;
    }
    .s1, h2{
      font-size: 20px;
    }
    .s1, p{
      font-size: 15px;
    }
    .s1{
      margin-left: 12px;
      width: 370px;
      height: 170px;
    }
    .s2, h2{
      font-size: 20px;
    }
    .s2, p{
      font-size: 15px;
    }
    .s2{
      margin-left: 12px;
      width: 370px;
      height: 150px;
    }
    .s3, h2{
      font-size: 20px;
    }
    .s3, p{
      font-size: 15px;
    }
    .s3{
      margin-left: 12px;
      width: 370px;
      height: 150px;
    }
    .s4, h2{
      font-size: 20px;
    }
    .s4, p{
      font-size: 15px;
    }
    .s4{
      margin-left: 12px;
      width: 370px;
      height: 110px;
    }
    .s5, h2{
      font-size: 20px;
    }
    .s5, p{
      font-size: 15px;
    }
    .s5{
      margin-left: 12px;
      width: 370px;
      height: 160px;
    }
    .s6, h2{
      font-size: 20px;
    }
    .s6, p{
      font-size: 15px;
    }
    .s6{
      margin-left: 12px;
      width: 370px;
      height: 160px;
    }
    .s7, h2{
      font-size: 20px;
    }
    .s7, p{
      font-size: 15px;
    }
    .s7{
      margin-left: 12px;
      width: 370px;
      height: 160px;
    }
    .btn-1{
      margin-left: 65px;
    }
  }
  @media screen and (max-width:414px){
   .penk{
    font-size: 30px;
   }
   .s1{
    height: 180px;
    width: 330px;
    margin-left: 25px;
   }
   .s2{
    height: 160px;
    width: 330px;
    margin-left: 25px;
   }
   .s3{
    height: 160px;
    width: 330px;
    margin-left: 25px;
   }
   .s4{
    height: 120px;
    width: 330px;
    margin-left: 25px;
   }
   .s5{
    height: 160px;
    width: 330px;
    margin-left: 25px;
   }
   .s6{
    height: 160px;
    width: 330px;
    margin-left: 25px;
   }
   .s7{
    height: 160px;
    width: 330px;
    margin-left: 25px;
   }
   .btn-1{
    margin-left: 60px;
   }
  }
  @media screen and (max-width:412px){
    .s1{
      margin-left: 23px;
    }
    .s2{
      margin-left: 23px;
    }
    .s3{
      margin-left: 23px;
    }
    .s4{
      margin-left: 23px;
    }
    .s5{
      margin-left: 23px;
    }
    .s6{
      margin-left: 23px;
    }
    .s7{
      margin-left: 23px;
    }
  }
  @media screen and (max-width:393px){
    .penk{
      margin-left: 7px;
    }
    .s1{
      margin-left: 15px;
    }
    .s2{
      margin-left: 15px;
    }
    .s3{
      margin-left: 15px;
    }
    .s4{
      margin-left: 15px;
    }
    .s5{
      margin-left: 15px;
    }
    .s6{
      margin-left: 15px;
    }
    .s7{
      margin-left: 15px;
    }
    .btn-1{
      margin-left: 50px;
    }
  }
  @media screen and (max-width:375px){
    .penk{
      font-size: 29px;
      margin-left: 4px;
    }
    .s1, .s2,.s3,.s4,.s5,.s6,.s7{
      margin-left: 10px;
      width: 320px;
    }
    .btn-1{
      margin-left: 40px;
    }
  }
  @media screen and (max-width:360px){
    .penk{
      font-size: 27px;
      margin-left: 7px;
    }
    .s1, .s2,.s3,.s4,.s5,.s6,.s7{
      margin-left: 9px;
      width: 310px;
    }
    .s5{
      height: 150px;
    }
    .s6{
      height: 160px;
    }
    .s7{
      height: 170px;
    }
    .btn-1{
      margin-left: 30px;
    }
  }