@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins&family=Roboto:wght@300&family=Ubuntu&display=swap');

body{
    background: url(img/manselabis.jpeg);
    margin: 0px;
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    height: 55px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  .nav > .nav-header {
    display: inline;
  }
  .nav > .nav-header > .nav-title {
    margin-top: -47px;
    margin-left: 40px;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  .nav-img>img{
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-left: 5px;
  }  
.nav > .nav-btn {
    display: none;
  }
  .nav > .nav-links {
    float: right;
    margin-top: -35px;
    font-size: 18px;
  }
  .nav > .nav-links > a {
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    color: #efefef;
  }
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > #nav-check {
    display: none;
  }

.welcome{
  font-family: 'Poppins';
    font-size: 50px;
    color: black;
    margin-top: 20px;
    text-align: center;
}
.hade:hover{
    color: black;
}
.logo_mansel{
    margin-left: 250px;
    height: 300px;
    width: 370;
}
.logo_mpk{
    margin-left: -100px;
    height: 310px;
    width: 370;
}
.awal{
    text-align: center;
}
.visimisi{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    justify-content: space-between;
}
.cukv{
    margin-left: 85px;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 500px;
    height: 280px;
    padding: 10px;
    position: relative;
    background: radial-gradient(
        140% 140% at 0% 0%,
        rgba(255,255,255,0.4)0%,
        rgba(255,255,255,0)100%
    );
    border-top: 1px solid #eceded70;
    border-left: 1px solid #eceded70;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}
.cukm{
    margin-left: 140px;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 500px;
    height: 280px;
    padding: 10px;
    position: relative;
    background: radial-gradient(
        140% 140% at 0% 0%,
        rgba(255,255,255,0.4)0%,
        rgba(255,255,255,0)100%
    );
    border-top: 1px solid #eceded70;
    border-left: 1px solid #eceded70;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}
.btn-1, .btn-2, .btn-3, .btn-4{
    font-size: 15px;        
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn-1{
    text-decoration: none;
    margin-left: 530px;
    
    padding: 20px 120px;
    font-size: 1.25rem;
    background:#000;
    color:#fff;
    border-radius: 30px;
}
.btn-1:hover{
    background-color: white;
    color: #000;
  }
  .btn-2{
    text-decoration: none;
    margin-left: 533px;
    padding: 20px 100px;
    font-size: 1.25rem;
    background:#000;
    color:#fff;
    border-radius: 30px;
  }
  .btn-2:hover{
    background-color: white;
    color: #000;
  }
  .btn-3{
    text-decoration: none;
    margin-left: 530px;
    padding: 20px 85px;
    font-size: 1.25rem;
    background:#000;
    color:#fff;
    border-radius: 30px;
}
.btn-3:hover{
  background-color: white;
  color: #000;
}
.btn-4{
    text-decoration: none;
    margin-left: 530px;
    padding: 20px 50px;
    font-size: 1.25rem;
    background:#000;
    color:#fff;
    border-radius: 30px;
  }
.btn-4:hover{
    background-color: white;
    color: #000;
}
/*.nav-item:hover{
    background-color: #fff;
    color: red;
    border-radius: 10px;
}*/
.footer{
    /*background-color: #343f3f70;*/
    background-color: black;
    width: 100%;
    height: 70px;
  }
  .footer h2{
    color: white;
    font-size: medium;    
    text-align: right;
  }
  .site-footer
  {
    background-color:#26272b;
    text-align: center;
    padding:20px 0 15px;
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height:10px;
    margin-top: -7px;
    color:#737373;
  }
  .site-footer a
  {
    color: #3366cc;
    text-decoration: none;
    text-align: center;
    /*color:#737373;*/
  }
  .site-footer a:hover
  {
    color:#7995cc;
    text-decoration:none;
  }
  .site-footer .social-icons
  {
    text-align:center;
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:10px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin: 5px;
  }
  .instagram:hover{
    background-color: rgb(187, 48, 152);
  }
  .tiktok:hover{
    color: #00aced;
  }
  .youtube:hover{
    color: red;
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:50px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.youtube:hover
  {
    background-color:#ff0000
  }
  .social-icons a.tiktok:hover
  {
    background-color:#00a2ff;
  }
  .social-icons a.envelope:hover
  {
    background-color:#ffffff;
    color: red;
  }
  .social-icons a.instagram:hover
  {
    background-color:#f16198
  }
  @media (max-width: 1024px) {
    .welcome{
      font-size: 40px;
      margin-top: 10px;
    }
    .logo_mansel{
      height: 200px;
      width: 330px;
      margin-left: 200px;
      margin-top: -20px;
    }
    .logo_mpk{
      height: 200px;
      width: 200px;
      margin-left: 10px;
    }
    .cukv{
      font-size: small;
      height: 240px;
      width: 350px;
      margin-left: 70px;
    }
    .cukm{
      font-size: small;
      height: 240px;
      margin-left: 80px;
      width: 380px;
    }
    .btn-1, .btn-2, .btn-3, .btn-4{
      font-size: 15px;
    }
    .btn-1{
      margin-left: 370px;
      padding: 20px 95px;
    }
    .btn-2{
      margin-left: 370px;
      padding: 20px 83px;
    }
    .btn-3{
      margin-left: 370px;
      padding: 20px 68px;
    }
    .btn-4{
      margin-left: 370px;
      padding: 20px 40px;
    }
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .social-icons li.title{
    display:block;
    margin-right:0;
    font-weight:600
    }
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
@media (max-width:688px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: -25px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 30px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 90px;
      left: 0px;
      z-index: 1;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    .welcome{
      font-size: 30px;
      margin-top: 5px;
    }
    .logo_mansel{
      height: 160px;
      width: 270px;
      margin-left: 100px;
    }
    .logo_mpk{
      height: 160px;
      width: 160px;
      margin-left: -20px;
    }
    .cukv{
      font-size: 12px;
      height: 235px;
      width: 230px;
      margin-left: 40px;
    }
    .cukm{
      font-size: 12px;
      height: 235px;
      width: 290px;
      margin-left: 50px;
    }
    .btn-1{
      margin-left: 210px;
      padding: 20px 95px;
    }
    .btn-2{
      margin-left: 210px;
      padding: 20px 83px;
    }
    .btn-3{
      margin-left: 210px;
      padding: 20px 68px;
    }
    .btn-4{
      margin-left: 210px;
      padding: 20px 40px;
    }
    .site-footer{
      padding: 20px 0 30px 0;
    }
  }
  @media screen and (max-width:428px){
    .nav-header>.nav-title{
      display: none;
    }
    .welcome{
      font-size: 30px;
      margin-top: 5px;
    }
    .logo_mansel{
      height: 140px;
      width: 240px;
      margin-left: 10px;
    }
    .logo_mpk{
      height: 140px;
      width: 140px;
      margin-left: -25px;
    }
    .cukv{
      font-size: medium;
      width: 350px;
      height: 180px;
      padding: 15px;
      margin-left: 15px;
      margin-top: 5px;
    }
    .cukm{
      font-size: medium;
      margin-top: 225px;
      margin-left: -380px;
      width: 350px;
      height: 350px;
      padding: 15px;
    }
    .btn-1, .btn-2, .btn-3, .btn-4{
      font-size: 20px;              
    }
    .btn-1{
      padding: 15px 112px 15px 112px;      
      margin-left: 85px;
    }
    .btn-2{        
      padding: 15px 96px 15px 96px;
      margin-bottom: 190px;
      margin-left: 85px;
    }
    .btn-3{
      padding: 15px 75px 15px 75px;
      margin-left: 85px;
      margin-top: 5px;
    }
    .btn-4{
      padding: 15px 40px 15px 40px;
      margin-left: 85px;        
      margin-top: 5px;
    }
    .site-footer{
    padding:30px 0 15px;
    font-size:15px;
    margin-top: -10px;
    }
  }
  @media screen and (max-width:414px){
    .welcome{
      font-size: 25px;
      margin-top: 5px;
    }
    .logo_mansel{
      height: 130px;
      width: 210px;
      margin-left: 10px;
    }
    .logo_mpk{
      height: 130px;
      width: 130px;
      margin-left: -10px;
    }
    .cukv{
      font-size: small;
      width: 330px;
      height: 130px;
      padding: 15px;
      margin-left: 20px;
      margin-top: 5px;
    }
    .cukm{
      font-size: small;
      margin-top: 190px;
      margin-left: -363px;
      width: 330px;
      height: 260px;
      padding: 15px;
    }
    .btn-1, .btn-2, .btn-3, .btn-4{
      font-size: 15px;        
      margin-top: 30px;
        
    }
    .btn-1{
      padding: 20px 104px 20px 104px;
      margin-left: 90px;
    }
    .btn-2{        
      padding: 20px 90px 20px 90px;
      margin-left: 90px;
    }
    .btn-3{
      padding: 20px 76px 20px 76px;
      margin-left: 90px;
    }
    .btn-4{
      padding: 20px 50px 20px 50px;
      margin-left: 90px;        
    }
  }
  @media screen and (max-width:412px){
    .logo_mansel{
      height: 120px;
      margin-left: 20px;
    }
    .logo_mpk{
      height: 120px;
      width: 120px;
    }
  }
  @media screen and (max-width:393px){
    .welcome{
        margin-top: 5px;
        font-size: 25px;
    }
    .logo_mansel{
        margin-left: -10px;
        height: 120px;
        width: 210px;
    }
    .logo_mpk{
        margin-left: -2px;
        height: 120px;
        width: 120px;
    }
    .cukv{
        font-size: small;
        width: 300px;
        height: 130px;
        padding: 15px;
        margin-left: 25px;
    }
    .cukm{
        font-size: small;
        margin-top: 180px;
        margin-left: -330px;
        width: 300px;
        height: 280px;
        padding: 15px;
    }
    .btn-1, .btn-2, .btn-3, .btn-4{
        font-size: 15px;        
        margin-top: 10px;
        
    }
    .btn-1{
        padding: 20px 104px 20px 104px;
        margin-left: 70px;
    }
    .btn-2{        
        padding: 20px 90px 20px 90px;
        margin-left: 70px;
    }
    .btn-3{
        padding: 20px 76px 20px 76px;
        margin-left: 70px;
    }
    .btn-4{
        padding: 20px 50px 20px 50px;
        margin-left: 70px;        
    }
}
@media screen and (max-width:375px){
  .welcome{
    font-size: 25px;
    margin-top: 5px;
  }
  .logo_mansel{
    height: 100px;
    width: 180px;
    margin-left: 18px;
  }
  .logo_mpk{
    height: 100px;
    width: 100px;
  }
  .cukv{
    font-size: small;
    width: 280px;
    height: 140px;
    padding: 15px;
    margin-left: 23px;
}
.cukm{
    font-size: small;
    margin-top: 190px;
    margin-left: -310px;
    width: 280px;
    height: 280px;
    padding: 15px;
}
.btn-1, .btn-2, .btn-3, .btn-4{
    font-size: 15px;        
    margin-top: 10px;
    
}
.btn-1{
    padding: 20px 104px 20px 104px;
    margin-left: 60px;
}
.btn-2{        
    padding: 20px 90px 20px 90px;
    margin-left: 60px;
}
.btn-3{
    padding: 20px 76px 20px 76px;
    margin-left: 60px;
}
.btn-4{
    padding: 20px 50px 20px 50px;
    margin-left: 60px;        
}
}
@media screen and (max-width:360px){
  .welcome{
    font-size: 20px;
    margin-top: 5px;
  }
  .logo_mansel{
    margin-left: -3px;
    width: 190px;
    height: 110px;
  }
  .logo_mpk{
    width: 85px;
    height: 85px;
  }
  .cukv{
    margin-left: 17px;
  }
  .cukm{
    height: 280px;
  }
  .btn-1, .btn-2, .btn-3, .btn-4{
    margin-left: 55px;
  }

  .site-footer{
    margin-top: -7px;
  }
}